{% load static %}
<html>
  <head>
    <title>Chat</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"
    ></script>

    <link rel="stylesheet" href="{% static 'css/messages.css' %}" />
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" /> -->
  </head>

  <body>
    {% if user.is_authenticated %}
    <!-- <h1>Logged in as: {{user.username}}</h1> -->
    <input id="logged-in-user" type="hidden" value="{{user.id}}" />
    {% endif %}

    <div class="container-fluid h-100">
      <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-3 chat h-100 mt-4">
          <div class="card mb-sm-3 mb-md-0 contacts_card">
            <div class="card-header">
              <div class="input-group">
                <h3>Welcome {{user.username}}</h3>
                <a href="logout"
                  ><button
                    style="
                      font-size: 12px;
                      align-items: center;
                      background-color: rgb(112, 108, 108);
                    "
                    class="btn btn-sucess"
                  >
                    Logout
                  </button>
                </a>

                <!-- <div class="input-group-prepend">
                  <form action="" method="post">
                    {% csrf_token %}
                    <select name="persons" id="cars">
                      <option>--Select Your Friend--</option>
                      {% for frnd in Friends%} {% if frnd.id != user.id %}
                      <option value="{{frnd.username}}">
                        {{frnd.username}}
                      </option>
                      {% endif %} {% endfor %}
                    </select>
                    <input type="submit" value="Add" />
                  </form>
                </div> -->
              </div>
            </div>

            <div class="card-body contacts_body">
              <ui class="contacts">
                {% for thread in Threads %}
                <input id="thread-id" type="hidden" value="{{thread.id}}" />
                <li
                  class="{% if forloop.first %} active {% endif %} contact-li"
                  chat-id="chat_{{thread.id}}"
                  style="cursor: pointer"
                >
                  <div class="d-flex bd-highlight">
                    <div class="img_cont">
                      <img
                        src="static/img/avatar.jpg"
                        class="rounded-circle user_img"
                      />
                      <span class="online_icon"></span>
                    </div>
                    <div class="user_info">
                      {% if thread.first_person == user %}
                      <span>{{ thread.second_person.username }}</span>
                      {% else %}
                      <span>{{ thread.first_person.username }}</span>
                      {% endif %}
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ui>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
        <div class="col-md-8 col-xl-6 chat h-100 mt-4">
          <div class="card">
            {% for thread in Threads %}
            <div
              class="messages-wrapper {% if forloop.first %}hide is_active{% else %}hide{% endif %}"
              chat-id="chat_{{ thread.id }}"
              other-user-id="
                                        {% if thread.first_person == user %}
                                            {{ thread.second_person.id }}
                                        {% else %}
                                            {{ thread.first_person.id }}
                                        {% endif %}
                                    "
            >
              <div class="card-header msg_head">
                <div class="d-flex bd-highlight">
                  <div class="img_cont">
                    <img
                      src="static/img/avatar.jpg"
                      class="rounded-circle user_img"
                    />
                    <span class="online_icon"></span>
                  </div>
                  <div class="user_info">
                    {% if thread.first_person == user %}
                    <span>{{ thread.second_person.username }}</span>
                    {% else %}
                    <span>{{ thread.first_person.username }}</span>
                    {% endif %}

                    <p>{{ thread.chatmessage_thread.all.count }} messages</p>
                  </div>
                </div>
              </div>
              <!-- predict -->
              {% for message in messages %} {% if message.tags == 'error' %}
              <!-- <div class="alert alert-danger">
                <strong style="color: red">{{ message }}</strong>
              </div> -->
              <div class="alert alert-danger alert-dismissible">
                <a class="close" data-dismiss="alert" aria-label="close"
                  >&times;</a
                >
                {{message}}
              </div>
              {% else %}
              <!-- <div class="alert alert-success">
                <strong style="color: green">{{ message }}</strong>
              </div> -->
              <div class="alert alert-success">{{message}}</div>
              {% endif %} {% endfor %}
              <!-- predict -->
              <div class="card-body msg_card_body">
                {% for chat in thread.chatmessage_thread.all %}
                <!------- messages ------->
                {% if chat.user == user %}
                <div class="d-flex mb-4 replied">
                  <div class="msg_cotainer_send">
                    {{ chat.message }}
                    <span class="msg_time_send"
                      >{{ chat.timestamp | date:"d D" }}</span
                    >
                  </div>
                  <div class="img_cont_msg">
                    <img
                      src="static/img/avatar.jpg"
                      class="rounded-circle user_img_msg"
                    />
                  </div>
                </div>
                {% else %}
                <div class="d-flex mb-4 received">
                  <div class="img_cont_msg">
                    <img
                      src="static/img/avatar.jpg"
                      class="rounded-circle user_img_msg"
                    />
                  </div>
                  <div class="msg_cotainer">
                    <form action="" method="post">
                      {% csrf_token %}
                      <input
                        type="hidden"
                        name="mesg"
                        value="{{ chat.message }}"
                      />
                    </form>
                    {{ chat.message }}
                    <span class="msg_time"
                      >{{ chat.timestamp | date:"d D" }}</span
                    >
                  </div>
                </div>
                {% endif %}

                <!------- messages ------->
                {% endfor %}
              </div>
            </div>
            {% endfor %}
            <div class="card-footer">
              <form id="send-message-form">
                <div class="input-group">
                  <div class="input-group-append">
                    <span class="input-group-text attach_btn">
                      <!-- <i class="fas fa-paperclip"></i> -->
                    </span>
                  </div>
                  <input
                    type="text"
                    name=""
                    id="input-message"
                    class="form-control type_msg"
                    placeholder="Type your message..."
                  />
                  <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">
                      <span class="input-group-text send_btn">
                        <i class="fas fa-location-arrow"></i>
                      </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'js/messages.js' %}"></script>
  </body>
</html>
